.projects-container {
  padding: 4rem 2rem;
  background-color: #f9f9f9;
  /* background-color: #1F1F1F; */
  /* color: #E0E0E0; */
  text-align: center;
}

.projects-container h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 2rem;
}

.projects-wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  flex-wrap: wrap;
}

.project-card {
  flex: 1;
  max-width: 300px;
  /* background-color: #fff; */
  background-color: #1F1F1F;
  color: #E0E0E0;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth animation */
}

.project-card h2 {
  font-size: 1.5rem;
  /* color: #007bff; */
  color: #BB86FC;
  margin-bottom: 1rem;
  transition: color 0.3s; /* Smooth text color change on hover */
}

.project-card p {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 1.5rem;
  flex-grow: 1; /* Makes the description take up available space */
}

.project-card .see-more-btn {
  background-color: #ac9ac1;
  color: #000000;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* Smooth button animation */
}

.project-card .see-more-btn:hover {
  background-color: #BB86FC;
  transform: translateY(-2px); /* Slight lift on hover */
}

.project-card:hover {
  transform: translateY(-10px); /* Lift the card */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.project-card:hover h2 {
  /* color: #0056b3; */
  color: #a963ff;
   /* Change title color on hover */
}

@media screen and (max-width: 768px) {
  .projects-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    max-width: 100%;
    width: 90%;
    margin-bottom: 2rem;
  }
}
