/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure padding and border are included in element size */
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrollbar */
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height: 70px;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
  
  .nav-links {
    display: flex;
    gap: 1.5rem;
  }
  
  .nav-links a {
    text-decoration: none;
    font-size: 1rem;
    color: #555;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #007bff;
  }
  
  .section {
    min-height: calc(100vh - 70px); /* Subtract header height from viewport height */
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #eee;
    width: 100vw; /* Ensure sections take full width of the viewport */
  }
  
  .section:nth-child(odd) {
    background-color: #f4f4f4;
  }
  
  .section:nth-child(even) {
    background-color: #eaeaea;
  }
  
  .section:last-child {
    border-bottom: none; /* Remove bottom border for the last section */
  }
  